canvas {
  width: 300px;
  height: 180px;
  position: relative;
}

.navigation-wrapper {
  z-index: 1;
  position: absolute;
  height: 200px;
  width: 310px;
  top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lava-lamp-wrapper {

}

.lava-text {
  padding-left: 20px;
}
