html {
}

body {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

.splash-wrapper {
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.header-image-wrapper {
}

.header-image-wrapper img {
  width: 250px;
  height: auto;
}

.header-text-wrapper {
}

.tour-dates-wrapper {
  min-width: 300px;
}

.tour-dates-wrapper h2 {
  font-family: 'Lemonada', cursive;
}

.tour-dates-wrapper li {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
}
