@import url('./lava.css');

/* fonts */
.fonts {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Raleway', sans-serif;
}

html {
  background: #000000;
}

body {
  margin: 0 auto;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  /*background-image: url("../images/box-era-crazy-pattern-bg.png");*/
  background: black;
  background-image: -webkit-linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../images/box-era-crazy-pattern-bg.png");
  background-image:  -moz-linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../images/box-era-crazy-pattern-bg.png");
  background-image:  -o-linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../images/box-era-crazy-pattern-bg.png");
  background-image:  -ms-linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url("../images/box-era-crazy-pattern-bg.png");
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(../images/box-era-crazy-pattern-bg.png);
  background-size: 40%;
  background-repeat: repeat-x;
  background-position-y: 150px;
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  padding: 10px 0 20px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  background: black; /* For browsers that do not support gradients */
}

.header-image-wrapper {
}

.header-image-wrapper img {
  width: 200px;
  height: auto;
}

.header-text-wrapper {
}

.splash-video-wrapper {
  margin: 10px auto;
  padding: 0px;
  border: 15px solid rgba(255, 255, 255, 0.98);
  background: white;
}

.splash-video-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.video-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transform: rotateX(180deg);
}

.video-column.video-column-right {
  -moz-transform: scale(-1, -1);
   -o-transform: scale(-1, -1);
   -webkit-transform: scale(-1, -1);
   transform: scale(-1, -1);
}

.video-column img {
  max-width: 100px;
}

.tour-dates-wrapper {
  min-width: 300px;
  background: linear-gradient(#130f13, black);
  padding: 20px 200px 100px;
  margin-top: 20px;
  border-top: 2px solid #332e35;
}

.tour-dates-wrapper h2 {
  display: flex;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

.tour-dates-wrapper li {
  font-family: 'Raleway', sans-serif;

  font-size: 13px;
}

.tour-dates-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid white;
}

.tour-dates-top-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 100px;
}

.tour-dates-wrapper img {
  max-height: 20px;
  width: auto;
  margin-right: 5px;
}

.tour-date-wrapper {
  display: flex;
  align-items: flex-end;
}

.tour-date-wrapper img {
  margin-right: 15px;
  max-height: 20px;
  width: auto;
}

.header-lava {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.tour-date-item {
  display: flex;
  align-items: flex-end;
  flex-basis: 150px;
  font-size: 14px;
  text-overflow: ellipsis;
}
